table, th, td {
  border: 1px solid black;
}

table{
  margin: 0.5rem;
}

.buttons-table{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stats{
  border: 1px solid black;
  background-color: rgb(250, 178, 43);
  padding: 0.4rem;
}

.barchart{
  width: 50%;
  height: auto;
}

.bottom-half{
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
}